.divbody{
    padding: 20px 20px;
    
  }
  hr{
      margin-top: -20px;
  }
.card-signin {
    border: 0;
    /* border-radius: 1rem; */
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .5  );
    max-width: 800px;
    /* margin-top: -50px; */
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    /* font-weight: 300; */
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  .logoimg {
      width: 150px;
      text-align: center;
  }
#back{
    width: 30px;
    margin-top: -10px;

}
/* #back:hover{
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 1, 1, 0.5);
} */
.alertbox{
  color: white;
}
  
.collapse label{
    font-size: 14px;
}
.drop img{
    width: 20px;
}
