.divbody {
    padding: 20px 10x;
}
.left{
    box-shadow: 0 0.5rem .5rem 0 rgba(2, 106, 175, 0.2);
    height: 500px;
    padding: 10px 10px;
}
.divbody img{
    width: 20px;
}
.right{
    padding: 10px 10px;
}
.divbody{
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
  }
  @keyframes animatop {
    0% {
      opacity: 0;
      bottom: -500px;
    }
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }
  @keyframes animainfos {
    0% {
      bottom: 10px;
    }
    100% {
      bottom: -42px;
    }
  }
  @keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
    }
    100% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
    }
  }
  