<nav class="navbar sticky-top navbar-expand-lg  static-top" *ngIf="!isLoggedIn">
    <a class="navbar-brand ">
      <img src="/assets/newlogo.png" routerLink="home" class="logs" />
    </a>
    <a href="" class="nav-link systemname">
      Congressional Reporting System
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto " *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a (click)="signup()">Sign Up</a>
        </li>
        <li class="nav-item">
          <a (click)="login()">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto " *ngIf="isLoggedIn">
        <li class="nav-item avatar noti">
          <a class="nav-link ">
            <img
              src="/assets/bell.png"
              class="rounded-circle z-depth-0"
              alt="avatar image"
            />
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div
    class="carousel slide  carou"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-6 ">
              <div class="container left">
                <h1>Congressional Reporting System.</h1>
                <br />
                <h5 class="white">
                  Department of Social Welfare and Development Region 7
                </h5>
                <p class="text-light">
                  For faster and better reporting experience.
                </p>
                <button class="btn btn-light mb-5 ml-5 mr-3" (click)="register()">
                  Create new Account.
                </button>
              </div>
            </div>
            <div class="col-sm-9 col-md-6 ">
              <div class="container ">
                <br />
                <br />
                <img src="/assets/reportpage1.png" class="mt-5" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  